---
import Layout from '../layouts/Layout.astro'
import List from '../components/List.astro';
let dirPath: string = Astro.params.path ?? '';
let isNotRoot = false;
if (dirPath === '') {
	isNotRoot = false;
	dirPath = '/'
 } else {
	isNotRoot = true;
	dirPath = '/' + dirPath + '/'
 }
console.log(dirPath)

if (dirPath == 'favicon.ico') Astro.response.status = 404;

let tmp_str = dirPath.split('/')
console.log(`Processing ${tmp_str}`)
tmp_str.pop() // 最後の/を削除して
tmp_str.pop() // もっかい削除
let backpath = tmp_str.join('/')
backpath = backpath + '/'
console.log('done')
console.log(dirPath)
console.log(backpath)

---

<Layout title="CDN Viewer" desc='Cool and Fast CDN Viewer'>
	<h1 class="dyn">Dir: {dirPath}</h1>
	{isNotRoot && <a href={backpath}>戻る</a>}
	<!-- <List files={json} /> -->
	<List />
</Layout>

<script>
	let json;
	try {
		const res = await fetch('https://cdn.ringoxd.dev/api/files' + location.pathname + '?offset=99999',{
				mode: 'cors'
			}
		)
		if (res.status === 200) {
			json = await res.json()
		} else if (res.status === 404) {
			location.replace('/404')
		} else if (res.status !== 200) {
			console.error('Response is not OK.', res)
		}
	} catch (e) {console.error(e)}
</script>