---
import Layout from '../layouts/Layout.astro'
import List from '../components/List.astro';
let dirPath: string = Astro.params.path ?? '';
if (dirPath === '') {
	dirPath = '/'
 } else {
	dirPath = '/' + dirPath + '/'
 }
console.log(dirPath)

let json;

if (dirPath == 'favicon.ico') Astro.response.status = 404;

try {
	const res = await fetch('https://cdn.ringoxd.dev/api/files/' + dirPath,{
			mode: 'cors'
		}
	)
	json = await res.json()
} catch (e) {console.error(e)}


if (!json) {
	Astro.response.status = 404
}

---

<Layout title="CDN Viewer" desc='Cool and Fast CDN Viewer'>
	<h1 class="dyn">Dir: {dirPath}</h1>
	<!-- <List files={json} /> -->
	{json != null ? <List files={json} dirpath={dirPath} /> : <p>404</p>}
</Layout>