---

type EType = 'file' | 'dir';

interface Props {
	name: string;
	href: string;
	size?: string;
	type: EType;
	dirPath: string;
}

const { name, href, size, type, dirPath } = Astro.props;

const Extension = name.split('.').pop().toLowerCase();

const isImage = ['png', 'jpg', 'jpeg', 'gif', 'bmp', 'svg'].includes(Extension);
const isVideo = ['mp4', 'webm', 'ogg', 'mov'].includes(Extension);

---

<div class="grid-child">
		{isImage && <a href={`https://cdn.ringoxd.dev${dirPath}${name}`} class="link"><img src={`https://cdn.ringoxd.dev${dirPath}${name}`} alt="image" /></a>}
		{isVideo && <a href={`https://cdn.ringoxd.dev${dirPath}${name}`} class="link"><video src={`https://cdn.ringoxd.dev${dirPath}${name}`} controls preload="metadata" /></a>}
		{!isImage && !isVideo && <div class="misc-container"><a href={`${dirPath}${name}`} class="link"><h1>{`${name}`}</h1></a></div>}
</div>

